<div class="list-group mb-3">
  <a class="list-group-item list-group-item-action" routerLink="{{recipe.id}}" routerLinkActive="active">
    <div class="float-start">
      <h4>{{recipe.name}}</h4>
      <p>{{recipe.description}}</p>
    </div>
    <span class="float-end">
      <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 70px;" />
    </span>
  </a>
</div>