<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-sm-5">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="ingredientName" formControlName="name">
          <ng-container *ngIf="shoppingForm.controls['name'].touched && shoppingForm.controls['name'].errors">
            <p *ngIf="shoppingForm.controls['name'].errors['required']">Field name is required</p>
            <p *ngIf="shoppingForm.controls['name'].errors['minlength']">Field name has min length 2</p>
          </ng-container>
        </div>
        <div class="col-sm-2">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="ingredientAmount" formControlName="amount">
          <ng-container *ngIf="shoppingForm.controls['amount'].touched && shoppingForm.controls['amount'].errors">
            <p *ngIf="shoppingForm.controls['amount'].errors['required']">Field amount is required</p>
            <p *ngIf="shoppingForm.controls['amount'].errors['min']">Field amount should be greater than 0</p>
          </ng-container>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-success me-md-2" type="submit" [disabled]="shoppingForm.invalid">{{editMode ? 'Update' :
          'Add'}}</button>
        <button class="btn btn-danger me-md-2" type="button" (click)="deleteIngredient()"
          [disabled]="!editMode">Delete</button>
        <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
      </div>
    </form>
  </div>
</div>