<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto">
        <li *ngIf="!isLogged" class="nav-item nav-link custom-padding" routerLink="/auth" routerLinkActive="active">
          Authenticate</li>
        <li *ngIf="isLogged" class="nav-item nav-link custom-padding" routerLink="/recipes" routerLinkActive="active">
          Recipes</li>
        <li class="nav-item nav-link custom-padding" routerLink="/shopping-list" routerLinkActive="active">Shopping List
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item nav-link" (click)="logout()" *ngIf="isLogged">
          Logout
        </li>
        <li class="dropdown" *ngIf="isLogged">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
            <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>