<div *ngIf="selectedRecipe">
  <div class="row">
    <div class="col-xs-12">
      <img src="{{selectedRecipe.imagePath}}" alt="" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ selectedRecipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Bootstrap
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="addToShoppingList()">Add Ingredients to
              Shopping List</a></li>
          <li><a class="dropdown-item" (click)="editRecipe()">Edit Recipe</a></li>
          <li><a class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button appDropdown class="btn btn-secondary dropdown-toggle" type="button" aria-expanded="false">
          Directive
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="addToShoppingList()">Add Ingredients to
              Shopping List</a></li>
          <li><a class="dropdown-item" (click)="editRecipe()">Edit Recipe</a></li>
          <li><a class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{selectedRecipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let recipe of selectedRecipe.ingredients">
          {{ recipe.name }} ({{ recipe.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>