<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="d-grid gap-2 d-md-block mt-3">
    <button class="btn btn-success me-md-2" type="submit" [disabled]="!recipeForm.valid">{{editMode ? 'Update' :
      'Save'}}</button>
    <button class="btn btn-danger me-md-2" type="button" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger me-md-2" type="button" (click)="deleteRecipe()" [disabled]="!editMode">Delete</button>
    <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="recipeName" formControlName="name">
    <ng-container *ngIf="recipeForm.controls['name'].touched && recipeForm.controls['name'].errors">
      <p *ngIf="recipeForm.controls['name'].errors['required']">Field name is required</p>
      <p *ngIf="recipeForm.controls['name'].errors['minlength']">Field name has min length 2</p>
    </ng-container>
  </div>

  <div class="mb-3">
    <label for="imagePath" class="form-label">Image URL</label>
    <input type="text" class="form-control" id="recipeImagePath" formControlName="imagePath" #imagePath>
    <ng-container *ngIf="recipeForm.controls['imagePath'].touched && recipeForm.controls['imagePath'].errors">
      <p *ngIf="recipeForm.controls['imagePath'].errors['required']">Field image URL is required</p>
    </ng-container>
    <img [src]="imagePath.value" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="recipeDescription" rows="3" formControlName="description"></textarea>
    <ng-container *ngIf="recipeForm.controls['description'].touched && recipeForm.controls['description'].errors">
      <p *ngIf="recipeForm.controls['description'].errors['required']">Field description is required</p>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-xs-12" formArrayName="ingredients">
      <div class="row" *ngFor="let ingredient of ingredientItems; let i = index;" [formGroupName]="i">
        <div class="col-sm-5">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="ingredientName" formControlName="name">
        </div>
        <div class="col-sm-2">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="ingredientAmount" formControlName="amount">
        </div>
        <div class="col-sm-2 d-grid d-md-block" style="margin-top: 2em;">
          <button class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-block mt-3">
      <button class="btn btn-success me-md-2 mt-3" type="submit" (click)="addIngredient()">Add Ingredient</button>
    </div>
  </div>
</form>