<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="mt-3">
  <ng-container *ngIf="error">
    <app-alert [message]="error"></app-alert>
  </ng-container>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input autocomplete="username" type="text" class="form-control" id="staticEmail" formControlName="email">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input autocomplete="current-password" type="password" class="form-control" id="inputPassword"
        formControlName="password">
    </div>
  </div>
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-info me-md-2" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up'
      }}</button>
    <button class="btn btn-primary" type="button" (click)="switchModes()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'
      }}</button>
  </div>
</form>